<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='cloud.png') }}" type="image/png">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form" method="POST" action="/login">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div class="captcha-container">
                <div class="captcha-wrapper">
                    <img id="captcha-image" src="data:image/png;base64,{{ captcha_image }}" alt="Captcha">
                    <span class="tooltip">Click to refresh captcha</span>
                </div>
                <input type="text" id="captcha" name="captcha" placeholder="Enter Captcha" required>
            </div>


            <div class="checkbox-container">
                <label>
                    <input type="checkbox" id="remember-me" name="remember-me" checked>
                    Remember me
                </label>
                <label>
                    <input type="checkbox" id="hide-character" name="hide-character" checked>
                    Hide Character
                </label>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
